extends layout

block content
  h1 Hi&nbsp;
    strong #{full_name}
    |, Welcome to the example!

  p We're working hard to make it work.

  br

  p Got questions?&nbsp;
    a(href='#') We got answers
    | .

  p
    | We look forward to see you
    br
    br
    | Example.org